html{ height: 100%; }
body{ display: flex; flex-direction: column; height: 100%;}
header{ flex: 0 0 auto; }
.wrap-content{ flex: 1 0 auto; }
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.main-content section { width: 320px; }
footer{ flex: 0 0 auto; }
.st0{fill:black;}
.st1{fill:green;}
.st2{fill:white;}
.multik {
  background-color: green;
  width: 320px;
  height: 500px;
}

.buttons-group {
  margin-bottom: 5px;
}

.buttons-group button {
  margin-right: 43px;
  padding: 6px 20px;
}

.buttons-group :last-child {
  margin-right: 0px;
}
